*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
  font-family: "Poppins", serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
    /* display: none; */

}
.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}
.navbar-menu-toggle{
    display: none;
}
.navbar-links a:hover{
    text-decoration: underline;
}
.navbar h1 i{
  color: palevioletred;
}

#logoutpage button{
    padding: 4px;
    background-color: #1D232C;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
}
#u{
    color: green;
}


/* side-navbar */
.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 64%;
    position: fixed;
    top: 0;
    left: o;
    padding: 20px;
    color: white;
    /* display: block; */
    transition: 1s;
}
 
.side-navbar-link{
    margin-bottom: 30px;
}
 
.side-navbar-links a{
    text-decoration: none;
    color: white;

}
.side-navbar-links a:hover{
    text-decoration: underline;
}

/* .side-navbar form{
    padding: 20px;
    left: -10%;
} */
#logout{
    padding: 20px 0px;
 
}
#logout button{
    border: none;
    padding: 8px;
    border-radius: 3px;
    transition: .3s ease;
    background: blue;
    color: white;
}


 

/* header */
.header{
    display: flex;
    justify-content:center;
    gap: 50px;
    padding: 50px;
    background: url(../images/freestocks-_3Q3tsJ01nc-unsplash.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: wheat;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}



/* service */
.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}


/* newarrival */

.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    left: 11%;
    top: 60%;
    border-radius: 10px;
    border: none;
}

/* news */

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: 2px solid;
}
.news button{
    margin-top: 10px;
    color: white;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
}


/* footer */

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: white;
}



/* product */

.product-section{
    margin-top: 20px;
}

.product-search{
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    
}

.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
   outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-box{
    text-align: center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 5px;
}



/* media querry */

@media screen and (max-width:700px){
.navbar-menu-toggle{
    display: block;
}
.navbar-links{
    display: none;
}
.header-img{
    display: none;
}
.service-container-1{
    display: none;
}
.service-container-2{
    flex-direction: column;
}
.header div h1{
    color: white;
}
.side-navbar{
    display: block;
}
}



@media screen  and (min-width:700px){
  .side-navbar {
    display: block;
  }
}
    
